name: Get_report

on:
  repository_dispatch:
    types: [run-teams-bot]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run the main script
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
          TEAMS_EMAIL: ${{ secrets.TEAMS_EMAIL }}
          TEAMS_PASSWORD: ${{ secrets.TEAMS_PASSWORD }}
        run: python get_report.py
